.snap-drawers
  .snap-drawer.snap-drawer-left#left-drawer
    %ul.list
    %h2 
      Snap.js
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share

  .snap-drawer.snap-drawer-right#right-drawer
    %ul.list
    %h2 
      Snap.js
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share    


#content.snap-content.background
  %header.bar-nav
    %a.button#toggle-left
      = image_tag (src="settings.svg")
    %h1.title Linker
    %a.button#toggle-right
      = image_tag (src="settings.svg")



= content_for :scripts do
  :coffee
    jQuery ->
      snapper = new Snap(element: document.getElementById("content"))