%header.bar-nav
  %a.button 
    = image_tag (src="settings.svg")
  %h1.title Linker
  %a.button 
    = image_tag (src="settings.svg")

.background

.content
  .onboarding
    .slider
      %ul
        %li
          %p See interesting people 
          %p in your area.
          =image_tag "linker_phone.png", :class => "slider-image"
        %li
          %p 'Like' or 'pass' on Linker's 
          %p suggestions.
          =image_tag "linker_phone.png", :class => "slider-image"
        %li
          %p Chat with new your 
          %p new matches.
          =image_tag "linker_phone.png", :class => "slider-image"  
             
    



.bar-footer
  .button-login
    - if current_user
      %p.logged-in Welcome #{current_user.profile.first_name}
    - else
      = link_to 'Login with LinkedIn', auth_at_provider_path(:provider => :linkedin)
  .login-copy We never post anything to LinkedIn.

%h1 StaticPages#index
%p Find me in app/views/static_pages/index.html.haml



