.bar-nav
  %h1.title Linker

#map_canvas


= content_for :scripts do
  :coffee
    jQuery ->
      pos = new google.maps.LatLng("#{@location.latitude}", "#{@location.longitude}")
      mapOptions = {
        zoom: 13
        zoomControl: false,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        center: pos
      }
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
      marker = new google.maps.Marker({
        position: pos
        map: map
        title: 'Hello World!'
      })

      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
