.bar-nav
  %h1.title Linker

#map_canvas


.message


= content_for :scripts do
  :coffee
    jQuery ->
      alert "OK"
      if navigator.geolocation 
        navigator.geolocation.getCurrentPosition(acquire_position, show_error)
      else
        $('.message').text("Sorry, we need geolocation info")

      show_error = (error) ->
        console.log "Sorry, error" + error

      acquire_position = (geo_position) ->
        # Create a custom position object to display map
        position = {
          latitude: geo_position.coords.latitude
          longitude: geo_position.coords.longitude
        }
        send_data(position)
        #display_map(position)

      send_data = (position) ->
        options = {
          url: "/location_data"
          type: "get"
          data: position = { position }
          complete: received_response
        }
        $.ajax(options)


      received_response = (response, status) -> 
        console.log response
        console.log status
