.snap-drawers
  .snap-drawer.snap-drawer-left#left-drawer
    %ul.list
    %h2 
      Snap.js
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share

  .snap-drawer.snap-drawer-right#right-drawer
    %ul.list
    %h2 
      Snap.js
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share
      %li.list-divider
        Share    
