.menu-background {
  height:100%;
  width:100%;
  top:0;
  left:0;
  // right:0;
  // bottom:0;
  z-index:-1;
  background-image: url('background2.jpg');
  background-size: cover;
}

#menu {
  height:100%;
  width:100%;
  margin-top:0;
  left:0;
  // right:0;
  // bottom:0;
  z-index:1;
  background-color: rgba(45,45,45, .8);
}

.list #menu > li {
  margin-top: 20px;
  color: #fff;
}

#inbox {
  color: #fff;
  overflow: auto;
}



