%header.bar-nav
  %h1.title#down Linker


#map_overlay
#map_message 
  %p Please wait while we find your location!
#map_canvas



= content_for :scripts do
  :coffee
    jQuery ->
      show_error = (error) ->
        # Geolocation not authorized
        if error.code == 1
          $('.message').text("Sorry, we need geolocation info")
        else
          console.log error


      acquire_position = (geo_position) ->

        # Create a custom position object to display map
        position = {
          latitude: geo_position.coords.latitude
          longitude: geo_position.coords.longitude
        }
        send_data(position)
        #display_map(position)

      send_data = (position) ->
        options = {
          url: "/location_data"
          type: "get"
          data: position = { position }
          complete: received_response
        }
        $.ajax(options)


      display_map = (position) ->
        pos = new google.maps.LatLng(position.latitude, position.longitude)
        mapOptions = {
          zoom: 15
          draggable: false
          zoomControl: false
          disableDefaultUI: true
          mapTypeId: google.maps.MapTypeId.ROADMAP
          center: pos
        }
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        marker = new google.maps.Marker({
          position: pos
          animation: google.maps.Animation.DROP,
          map: map
        })
        $('#map_message').fadeOut('slow') 

        # Commented out until appropriate redirect ready
        # After having loaded the map, wait a short time a redirect
        setTimeout(
          () ->
            $('body').fadeOut('fast') 
            window.location.href = "/discover"
        
        , 3000)

      




      received_response = (response, status) -> 
        position = response.responseJSON
        display_map(position)

      if navigator.geolocation 
        navigator.geolocation.getCurrentPosition(acquire_position, show_error)
      else


        $('.message').text("Sorry, we need geolocation info")

